# [6.5.2] Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

%matplotlib inline

In [2]:
# Store the CSV you saved, created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kapaa,22.0752,-159.3190,73.40,68,1,8.05,US,2021-03-23 19:13:49
1,1,Puerto Ayora,-0.7393,-90.3518,82.99,78,40,6.91,EC,2021-03-23 19:14:16
2,2,Ushuaia,-54.8000,-68.3000,48.20,93,75,9.22,AR,2021-03-23 19:11:30
3,3,Samarkand,39.6542,66.9597,44.60,93,75,13.80,UZ,2021-03-23 19:16:08
4,4,Vangaindrano,-23.3500,47.6000,74.30,96,100,7.23,MG,2021-03-23 19:16:08

In [3]:
# Get the data types.
# The data we use for any mapping must be either an integer or a float.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

# Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Remove negative temperatures with for loop. Get the max temp.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature.

# 1. Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# 2. Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable.
fig = gmaps.figure()
# 4. Assign the heatmap variable to the heatmap_layer attribute and add in locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Modify gmaps.heat_layer()
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=temps, 
                                 dissipating=False,
                                 max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity,
                                 dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds,
                                 dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind,
                                 dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

# [6.5.3] Get Vacation Criteria

In [ ]:
# App feature that allows customers to search for locations they want to travel to based on their temperature preferences.

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like  for your trip?  "))
max_temp = float(input("What is the maximum temperature you would like for your trip?  "))

What is the minimum temperature you would like  for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[
                                        (city_data_df["Max Temp"] <= max_temp) &
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Puerto Ayora,-0.7393,-90.3518,82.99,78,40,6.91,EC,2021-03-23 19:14:16
6,6,Carutapera,-1.1950,-46.0200,81.36,81,81,7.72,BR,2021-03-23 19:16:09
7,7,Mar Del Plata,-38.0023,-57.5575,75.20,53,20,10.36,AR,2021-03-23 19:12:56
25,25,Arroyos Y Esteros,-25.0667,-57.1000,86.00,62,20,2.30,PY,2021-03-23 19:16:13
26,26,Rikitea,-23.1203,-134.9692,79.21,76,23,10.38,PF,2021-03-23 19:11:53
34,34,Sakakah,29.9697,40.2064,87.80,11,4,14.97,SA,2021-03-23 19:16:15
37,37,Saint-Philippe,-21.3585,55.7679,78.80,89,20,3.44,RE,2021-03-23 19:16:16
38,38,Ariquemes,-9.9133,-63.0408,76.19,93,100,2.04,BR,2021-03-23 19:16:16
40,40,Marawi,7.9986,124.2928,75.99,91,85,5.01,PH,2021-03-23 19:12:22
42,42,Sibolga,1.7427,98.7792,75.42,91,100,3.11,ID,2021-03-23 19:16:17

In [24]:
# Reorder column index.
column_names = ["City_ID", "City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
preffered_cities_df = preferred_cities_df.reindex(columns=column_names)
preffered_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2021-03-23 19:14:16,-0.7393,-90.3518,82.99,78,40,6.91
6,6,Carutapera,BR,2021-03-23 19:16:09,-1.1950,-46.0200,81.36,81,81,7.72
7,7,Mar Del Plata,AR,2021-03-23 19:12:56,-38.0023,-57.5575,75.20,53,20,10.36
25,25,Arroyos Y Esteros,PY,2021-03-23 19:16:13,-25.0667,-57.1000,86.00,62,20,2.30
26,26,Rikitea,PF,2021-03-23 19:11:53,-23.1203,-134.9692,79.21,76,23,10.38

In [25]:
# Determine if rows have null values.
preferred_cities_df.count()

City_ID       193
City          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
Country       193
Date          193
dtype: int64

# [6.5.3] Map Vacation Criteria

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1        Puerto Ayora      EC     82.99  -0.7393  -90.3518
6          Carutapera      BR     81.36  -1.1950  -46.0200
7       Mar Del Plata      AR     75.20 -38.0023  -57.5575
25  Arroyos Y Esteros      PY     86.00 -25.0667  -57.1000
26            Rikitea      PF     79.21 -23.1203 -134.9692
34            Sakakah      SA     87.80  29.9697   40.2064
37     Saint-Philippe      RE     78.80 -21.3585   55.7679
38          Ariquemes      BR     76.19  -9.9133  -63.0408
40             Marawi      PH     75.99   7.9986  124.2928
42            Sibolga      ID     75.42   1.7427   98.7792

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key" : g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,82.99,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Carutapera,BR,81.36,-1.1950,-46.0200,Lidera
7,Mar Del Plata,AR,75.20,-38.0023,-57.5575,Gran Hotel Mar del Plata
25,Arroyos Y Esteros,PY,86.00,-25.0667,-57.1000,GPM
26,Rikitea,PF,79.21,-23.1203,-134.9692,Pension Maro'i
34,Sakakah,SA,87.80,29.9697,40.2064,Fakhamat Al Orjoana Apartment
37,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
38,Ariquemes,BR,76.19,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
40,Marawi,PH,75.99,7.9986,124.2928,Derogongan Residence
42,Sibolga,ID,75.42,1.7427,98.7792,Hotel Syariah CN Darussalam

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
#  Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))